<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

  <script src="https://cdn.auth0.com/js/lock/10.2/lock.min.js"></script>
  <script type="text/javascript">
    var lock = new Auth0Lock('OGPrgFzCBt6Yr6zRY88bGRDCotTQIVVu', 'idrabenia.eu.auth0.com', {
      auth: {
        //redirectUrl: 'http://localhost:5555',
        //responseType: 'code',//'token',
        //params: {
        //  scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
        //}
      }
    });

    // Listening for the authenticated event
    lock.on("authenticated", function(authResult) {
      console.log(authResult);

      // Use the token in authResult to getProfile() and save it to localStorage
      lock.getProfile(authResult.idToken, function(error, profile) {
        if (error) {
          // Handle error
          return;
        }

        localStorage.setItem('idToken', authResult.idToken);

        localStorage.setItem('profile', JSON.stringify(profile));
        console.log(profile);
      });
    });
  </script>
  <button onclick="lock.show();">Login</button>

  <sd-app>Loading...</sd-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
  <% } %>

</body>
</html>
